<div>
	<h1><%= @categories.title %></h1>
	<p>Published<%= @article.title.created_at.strftime('%b %d, %Y') %></p>
	<p>Filed under: <% @article.categories.each do |category| %>
		<% article.title %>&nbsp;<% end %>
	</p>
	<div><%=@category.article %>